body{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body, .div-main, .div-lower, ul{
    display: flex;
}

.div-main, .div-lower{
    flex-direction: column;
}

.div-upper, ul{
    cursor: pointer;
}

.know-more, p, li{
    color:gray;
}

.div-main{
    height: 400px;
    width: 300px;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 2px black;
}

img{
    width: 100%;
}

.div-lower{
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 6px;
}


ul{
    justify-content: space-around;
    padding-left: 0px;
}

li{
    display: inline-block;     
    font-weight: bolder;                        
}

h2{
    margin-bottom: 0px;
    font-weight: 550;
}

a{
    text-decoration: none;
    font-weight: bold;
}

p{
    margin-top: 0px;
}

