body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    row-gap: 20px;
}

.child{
    display: flex;
    column-gap: 40px;
    border-radius: 4px;
    padding: 6px;
}

.child:hover{
    background-color: lightgray;
    cursor: pointer;
}

.upper-parent{
    display: flex;
    flex-direction: column;
}

.lower-parent{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.title{
    font-size: larger;
    font-weight: bolder;
}

.subtext{
    color: gray;
}

/* hr{
    color: gray;
    size: 5px;
} */

hr {
    width: 100%;               
    background-color: gray;
    height: 1px;
  }