@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fuzzy+Bubbles&family=Gwendolyn&family=Libre+Baskerville&family=Meow+Script&family=Mochiy+Pop+P+One&family=Mukta:wght@200;400&family=Playfair+Display:ital@1&display=swap');


.main-div{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: auto;
    font-family: 'Cabin', sans-serif;
    position: relative;
}

.permanent-heading{
    height: 70px;
    position: fixed;
    z-index: 2;
    background-color: lightgrey;
    flex-grow: 1;
}

.permanent-heading p, h2{
    margin: 0;
    padding: 0;
}

.list-items{
    padding-top: 70px;
    list-style: none;
}

.item{
    padding-bottom: 20px;
}

.item i{
    padding-right: 20px;
}

.list-items1{
    justify-content: space-around;
}

ul{
    list-style: none;
}

span{
    margin-left: 2rem;
}

.a::marker{
    margin-right: 2rem;;
}

